<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>auth-access</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.example.login.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.example.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessLogin</display-name>
    <servlet-name>ProcessLogin</servlet-name>
    <servlet-class>com.example.login.ProcessLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogin</servlet-name>
    <url-pattern>/ProcessLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHome</display-name>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>com.example.home.AdminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustHome</display-name>
    <servlet-name>CustHome</servlet-name>
    <servlet-class>com.example.home.CustHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustHome</servlet-name>
    <url-pattern>/CustHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.example.login.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminHomeFilter</display-name>
    <filter-name>AdminHomeFilter</filter-name>
    <filter-class>com.example.home.AdminHomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminHomeFilter</filter-name>
    <url-pattern>/AdminHome</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>CustHomeFilter</display-name>
    <filter-name>CustHomeFilter</filter-name>
    <filter-class>com.example.home.CustHomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustHomeFilter</filter-name>
    <url-pattern>/CustHome</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>