<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shopping-cart-web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.example.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessLogin</display-name>
    <servlet-name>ProcessLogin</servlet-name>
    <servlet-class>com.example.controller.ProcessLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogin</servlet-name>
    <url-pattern>/processLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.example.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cust</display-name>
    <servlet-name>Cust</servlet-name>
    <servlet-class>com.example.controller.Cust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cust</servlet-name>
    <url-pattern>/cust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.example.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Admin</display-name>
    <filter-name>Admin</filter-name>
    <filter-class>com.example.filter.Admin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>Admin</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>Categories</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Admin</filter-name>
    <servlet-name>Inventory</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>Cust</display-name>
    <filter-name>Cust</filter-name>
    <filter-class>com.example.filter.Cust</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Cust</filter-name>
    <servlet-name>Cust</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Categories</display-name>
    <servlet-name>Categories</servlet-name>
    <servlet-class>com.example.controller.Categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inventory</display-name>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>com.example.controller.Inventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/inventory</url-pattern>
  </servlet-mapping>
</web-app>